@air-padding: 40px;
        
* {
    -moz-box-sizing:border-box;
    box-sizing: border-box;
}
    
body {
    font-family: 'Roboto Condensed', sans-serif;
	font-size:16px;
    background: rgb(218,244,241); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RhZjRmMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmM2NmZGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(218,244,241,1) 0%, rgba(243,207,221,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(218,244,241,1)), color-stop(100%,rgba(243,207,221,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(218,244,241,1) 0%,rgba(243,207,221,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(218,244,241,1) 0%,rgba(243,207,221,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(218,244,241,1) 0%,rgba(243,207,221,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(218,244,241,1) 0%,rgba(243,207,221,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#daf4f1', endColorstr='#f3cfdd',GradientType=0 ); /* IE6-8 */
    
    padding-top:70px;
}

h1{
    font-size:30px;
    font-weight: bold;
}

a {
    color: #000;
    text-decoration: none;
}

.container{
    max-width:1024px;
    margin:0 auto;
}

.song-navigation{
    .clearfix();
    margin-top:20px;

    .song-cover-item{
        padding: 10px;
        
        img{
            display: inline-block;
            vertical-align: middle;
            width:50px;
            float:left;
            margin-right:10px;
        }
        
        h1{
            line-height: 14px;
        }
    }
}

#main{
    margin-bottom: 30px;
}

.jumbotron{
    background:#FFF;
    padding: 10px;

    h1{
        font-size:40px;
        line-height: 60px;
    }
    
    p{
        line-height: 28px;
    }
}

a.song-cover-item{
    &:hover {
        color:#258dfe;
    }
}

.song-cover-item{
    .clearfix();
    display:block;
    text-align: left;

    img {
        border-radius:50%;
        width:50px;
    }

    h1 {
        margin-top:6px;
        font-size:20px;
        line-height:23px;
    }

    p {
        font-size:16px;
        line-height: 30px;
    }
}

.song-item{        
    position:relative;

    .container{
        .clearfix();
        padding:@air-padding 0;
    }

    .song-cover-item{
        text-align: center;

        img {
            width:100px;
            height:100px;
        }
    }

    h1 {
        font-size:22px;
        line-height: 30px;
    }

    h2 {
        font-size:18px;   
        line-height: 26px;
    }

    .video-player{
        height: 220px;
        width: 100%;
    }    
}


.page-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    
    .clearfix();
    padding:10px 0;
    background:#f1f1f1;
      
    .background {
        position: absolute;
        left:0;
        right:0;
        top:0;
        bottom: 0;
        opacity: 0.5;
        .movement-transition(opacity);
        z-index: -1;
    }
    
    .de-store-synger{
        margin-left: 10px;
        
        img {
            width:88px;
        }
    } 
        
    .outgoing-navigation {
        float:right;
    }
}

.navigate{
    &.purchase-album{
        display: inline-block;
        padding: 10px;
        vertical-align: top;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        margin-right: 10px;
        border-radius:4px;
        .movement-transition(background, 100ms);

        &:hover{
            background:#ccc;
        }
    }
    
    &.facebook-group{
        display:none;
        background:#FFF;
        position: relative;
        
        img{
            vertical-align: middle;
            border-radius:4px;
        }
        
        .tooltip{
            display:none;
        }
        
        &:hover{
            .tooltip{
                display:block;
                position: absolute;
                width: 202px;
                background: #000;
                color: #FFF;
                left: -81px;
                padding: 6px;
                font-size: 12px;
                margin-top: 4px;
                border-radius: 5px;
            }
        }
    }
}

footer {
    background:#f1f1f1;
    margin-top: 60px;
    height:150px;
}


@media (min-width: 724px){  
    .song-navigation{
        .song-cover-item{
            float:left;
            width:50%;
        }
    }    
    
    .navigate {
        &.facebook-group{
            display: inline-block;
            margin-right:10px;
        }
    }
}

@media (min-width: 966px){ 
    body{    
        padding-top:179px;

        &.startpage-view{
            padding-top:0;

            .page-header{
                position:static;
                background:transparent;
                padding:15px 0;

                .background {
                    display:none;
                }

                .de-store-synger{
                    img {
                        width:273px;
                    }
                } 
            }
        }
    }
    
    .song-item{
        .song-cover-item{
            width:204px;
            margin-left: 80px;
            margin-top: 40px;
            float:left;
        }

        .video-player {
            max-width:600px;
            height: 337px;
            margin-right:80px;
            float: right;
            box-shadow: 0px 0px 10px #CCC;
        }
    }
}

@media (min-width: 1024px){    
    
    .page-header {
        .de-store-synger{
            margin-left:0;
        }
    }
    
    .navigate {
        &.purchase-album{
            font-size:22px;
        }
        
        &.facebook-group{
            display: inline-block;
            margin-right:0;
        }
    }
    
    .song-navigation{
        .clearfix();
        margin-top:20px;

        .song-cover-item{
            padding:20px;
            width:20%;
            text-align: center;

            img {
                width:100%;
            }
            
            h1{
                line-height: 30px;
            }
        }
    }
    
    .jumbotron{
        padding:20px;
        border-radius: 20px;
    }
}

.movement-transition(@attribute){
    -webkit-transition:@attribute linear 0.4s;
    transition:@attribute linear 0.4s;
}

.movement-transition(@attribute, @time){
    -webkit-transition:@attribute linear @time;
    transition:@attribute linear @time;
}

.body-page-header(@id, @left, @center, @right, @album-purchase-color){
    .page-header{
        .background {
            &.@{id} {
                .vertical-gradient-background(@left, @center, @right);
                opacity: 1;
            }
        }
    }
        
    .navigate {
        &.purchase-album {    
            color: @album-purchase-color;
            background: @left;

            &:hover{
                background: @center;
            }
        }
    }
}
 
.vertical-gradient-background(@left, @center, @right){
    background: @left; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M4NmE3YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2NjODZiMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiYmE1ZTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left, @left 0%, @center 50%, @right 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,@left), color-stop(50%,@center), color-stop(100%,@right)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, @left 0%,@center 50%,@right 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, @left 0%,@center 50%,@right 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, @left 0%,@center 50%,@right 100%); /* IE10+ */
    background: linear-gradient(to right, @left 0%,@center 50%,@right 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@{left}', endColorstr='@{right}',GradientType=1 ); /* IE6-8 */ 
}

.clearfix() {
    &:before,
    &:after {
        content: " "; // 1
        display: table; // 2
    }
    &:after {
        clear: both;
    }
}